body{
  margin: 0;
  padding: 0;
  background-color: #f0f2ea;
}



.wrapper{
    text-align: center;
    border: 1px #fff;
}

.wrapper_content{
  background-color: #fff;
  width: 600px;
  margin: auto;
}

.ur_otdel{
  float: left;
  padding-left: 35px;
}

.ur_otdel img{
  border: 3px solid #bfbfbf ;
}

.OKR{
  float: right;
  padding-right: 35px;
}

.OKR img{
  border: 3px solid #bfbfbf ;  
}
